.container {
  display: grid;

  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: 1fr 1fr 2fr;

  margin-top: 5em;
  justify-items: center;
  align-items: center;

  height: 100vh;
}
